<div class="flex flex-col p-4 md:p-8">
    <.header />
    
    <div class="flex flex-col gap-16 justify-center items-center">
        <.about />

        <.projects projects={@projects} />

        <.research />

        <.technologies technologies={@technologies} />

        <.certificates certificates={@certificates} />

        <.contacts />

        <.footer />
    </div>
</div>